.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.circle-red {
  background-color: red;
}
.circle-yellow {
  background-color: yellow;
}
.circle-green {
  background-color: rgb(15, 223, 102);
}
.not-activated {
  opacity: 0.5;
}
